/* Api.css */

.App {

    text-align: center;
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  button {
    
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
    
  /* Media query for smaller screens */
@media (max-width: 768px) {
  li {
  
    border: 1px solid #ccc;

  }

}